body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-1{
    border-color: aqua;
    color:rgb(14, 81, 59);
    box-shadow: 0 0 40px aqua inset, 0 0 0 0 aqua;
    transition:all 150ms ease-in-out;
    &:hover {
        box-shadow: 0 0 10px 0 aqua inset, 0 0 10px 4px aqua;
    }

}

.btn-2{
    border-color: rgba(198, 3, 3, 0.769);
    background-color: bisque;
    color:rgba(198, 3, 3, 0.769) ;
    font-size: small;
    font-style: italic;
    transition:font-size 1s, color 1s;
    &:hover{
        color:rgba(244, 1, 139, 0.938);
        font-size: 15.5px;
        font-style: italic;
        box-shadow: inset;
    }    

}

.btn-3{
    box-shadow: rgba(11, 150, 11, 0.941);
    background-image:linear-gradient(to left, rgb(4, 126, 4), 
    rgb(11, 150, 11), rgba(72, 232, 72, 0.868), rgba(160, 247, 131, 0.826));
    animation: slidebg 2s linear infinite;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 *